<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Заявки</h1>
        <div class="col-xs-12 text-right">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="all" value="">Только не промодерированые</label>
            </div>
          </div>
        <div class="col-xs-12">

            <div class="table-responsive" >
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Статус</th>
                        <th>Дата создания</th>

                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{[{item.name | limitTo:25}]}</td>
                        <td>{[{item.text | limitTo:1}]}</td>
                        <td><span ng-show="item.returned">Возвращена</span><span ng-show="item.moderated && !item.returned">

                            Промодерирована</span>
                        <span ng-show="!item.moderated && !item.returned ">

                            Не промодерирована</span></td>
                        <td>{[{item.createdAt | date:'dd/MM/yyyy'}]}</td>
                        <td>
                            <button title="Одобрить заявку" type="button" ng-click="proveOrder(item.id)" class="btn btn-success btn-circle">
                                <i class="fa fa-check"></i>
                            </button>
                            <button title="Вернуть заявку" type="button" ng-click="returnItem(item)" class="btn btn-warning btn-circle">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                            <button title="Удалить заявку" type="button" ng-click="deleteItem(item)" class="btn btn-danger btn-circle">
                                <i class="fa fa-times"></i>
                            </button>



                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>

        </div>
      <div class="col-xs-12 text-center">
          <h1>Заявка</h1>
      </div>
        <div class="col-xs-6">
            <label for="">Название:</label>
            <p>{[{item.name}]}</p>
        </div>
        <div class="col-xs-6">
            <label for="">Текст:</label>
            <p>{[{item.text}]}</p>
        </div>
      <div class="col-xs-2">


      </div>
        <div style="margin-bottom: 150px;"><p style="visibility: hidden;">ds</p></div>

</div>
    </div>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header">
        <h3 class="modal-title">Вы действительно хотите удалить {[{type}]}  {[{name}]}</h3>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="ok()">Да</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Нет</button>
    </div>
</script>

<script type="text/ng-template" id="myModalContent3.html">
    <div class="modal-header">
        <h3 class="modal-title">Вернуть заявку.</h3>
    </div>
    <div >
        <div class="col-xs-12 " >
            <div class="form-group">
                <label for="">Сообщения</label>
                <textarea class="form-control" ng-model="return_text" name="sd" id="" cols="30" rows="3"></textarea>

            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Вернуть заявку</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Отменить</button>
    </div>
</script>
