<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | BuildApp Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">


    <link href="/admin/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/admin/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



</head>

<body>

<div id="wrapper"  ng-app="myApp">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">BuildApp Admin</a>
        </div>
        <!-- /.navbar-header -->

        <!--<ul class="nav navbar-top-links navbar-right">-->



            <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-user">-->
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.dropdown-user &ndash;&gt;-->
            <!--</li>-->
            <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
        <!--</ul>-->
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a ui-sref="home"><i class="fa fa-dashboard fa-fw"></i> Заявки</a>
                    </li>

                    <li>
                        <a ui-sref="users"><i class="fa fa-table fa-fw"></i> Пользователи</a>
                    </li>




                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div ui-view></div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script src="/admin/js/angular.min.js"></script>
<script src="/admin/js/angular-ui-router.min.js"></script>
<script src="/ui-bootstrap-tpls.js"></script>
<script src="/js/app.js"></script>
<script src="/js/loginCtrl.js"></script>
<script src="/js/homeCtrl.js"></script>
<script src="/js/usersCtrl.js"></script>
<!-- jQuery -->
<script src="/admin/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin/js/bootstrap.min.js"></script>


<script src="/admin/js/raphael.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/admin/js/sb-admin-2.js"></script>

</body>

</html>
