<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Пользователи</h1>
    </div>

        <div class="col-xs-12">
            <div class="table-responsive" >
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{[{item.name | limitTo:25}]}</td>
                        <td>{[{item.phone}]}</td>
                        <td><span ng-show="item.banned && item.ban_expire!='2099-12-31T22:00:00.000Z' ">

                            Заблокирован до {[{item.ban_expire | date:'dd/MM/yyyy'}]}</span>
                        <span ng-show="item.ban_expire=='2099-12-31T22:00:00.000Z' ">

                            Заблокирован навсегда</span>
                        <span ng-show="!item.banned  "> Активен</span>
                        </td>

                        <td>
                            <button type="button" ng-click="editItem(item)" class="btn btn-success btn-circle">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>

                            <select class="selectpicker" ng-model="term">
                                <option value="">Выберете бан</option>
                                <option value="1">Бан 24 ч.</option>
                                <option value="7">Бан 7 д.</option>
                                <option value="999">Бан навсегда</option>
                            </select>
                            <button type="button" class="btn btn-warning " ng-click="banUser(item.id,term)">
                                <i class="fa fa-ban" aria-hidden="true"></i> Заблокировать
                            </button>


                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    <div class="col-xs-12">
        <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>

    </div>
    <!-- /.col-lg-12 -->
</div>
